
.content{
    text-align: center;

}
.btn{
    
    margin-right: 14rem;
}
.field{
    height: 30px;
}
.cont{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
h1{
    text-align: center;
}
.copy-link{
display: flex;
width: 250px;
size: 3;
text-align: right;
padding:10px
}


